
            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="http://" value="{{member.avatar_url}}">
                </div>
            </div>

            <div class="item">
                <div>Nome</div>
                <div>
                    <input type="text" name="name" placeholder="Nome completo" value="{{member.name}}">
                </div>
            </div>

             <div class="item">
                <div>Email</div>
                <div>
                    <input type="email" name="email" value="{{member.email}}">
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>
                    <input type="date" name="birth" value="{{member.birth}}">
                </div>
            </div>

            <div class="item">
                <div>Ano escolar</div>
                <div>
                    <select name="schoolYear">
                        <option value="5"
                        {%if member .schoolYear == "5"%}selected {%endif%}
                        >5º ano do ensino fundamental</option>

                        <option value="6"
                        {%if member .schoolYear == "6"%}selected {%endif%}
                        >6º ano do ensino fundamental</option>

                        <option value="7"
                        {%if member .schoolYear == "7"%}selected {%endif%}
                        >7º ano do ensino fundamental</option>

                        <option value="8"
                        {%if member .schoolYear == "8"%}selected {%endif%}
                        >8º ano do ensino fundamental</option>

                        <option value="9"
                        {%if member .schoolYear == "9"%}selected {%endif%}
                        >9º ano do ensino fundamental</option>

                        <option value="1"
                        {%if member .schoolYear == "1"%}selected {%endif%}
                        >1º ano do ensino médio</option>

                        <option value="2"
                        {%if member .schoolYear == "2"%}selected {%endif%}
                        >2º ano do ensino médio</option>

                        <option value="3"
                        {%if member .schoolYear == "3"%}selected {%endif%}
                        >3º ano do ensino médio</option>  

                    </select>
                </div>
            </div>     

            <div class="item">
                <div>Cara horária</div>
                <div>
                    <input type="number" name="hours" value="{{member.hours}}">
                </div>
            </div>  



            <button type="submit" action="#">Salvar</button>