
            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="http://" value="{{member.avatar_url}}">
                </div>
            </div>

            <div class="item">
                <div>Nome</div>
                <div>
                    <input type="text" name="name" placeholder="Nome completo" value="{{member.name}}">
                </div>
            </div>

             <div class="item">
                <div>Email</div>
                <div>
                    <input type="email" name="email" value="{{member.email}}">
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>
                    <input type="date" name="birth" value="{{member.birth}}">
                </div>
            </div>

            <div class="item">
                <div>Ano escolar</div>
                <div>
                    <select name="schoolYear">
                        <option value="ano_5"
                        {%if member .schoolYear == "ano_5"%}selected {%endif%}
                        >5º ano do ensino fundamental</option>
                        <option value="ano_6"
                        {%if member .schoolYear == "ano_6"%}selected {%endif%}
                        >6º ano do ensino fundamental</option>
                        <option value="ano_7"
                        {%if member .schoolYear == "ano_7"%}selected {%endif%}
                        >7º ano do ensino fundamental</option>
                        <option value="ano_8"
                        {%if member .schoolYear == "ano_8"%}selected {%endif%}
                        >8º ano do ensino fundamental</option>
                        <option value="ano_9"
                        {%if member .schoolYear == "ano_9"%}selected {%endif%}
                        >9º ano do ensino fundamental</option>
                        <option value="ano_1"
                        {%if member .schoolYear == "ano_1"%}selected {%endif%}
                        >1º ano do ensino médio</option>
                        <option value="ano_2"
                        {%if member .schoolYear == "ano_2"%}selected {%endif%}
                        >2º ano do ensino médio</option>
                        <option value="ano_3"
                        {%if member .schoolYear == "ano_3"%}selected {%endif%}
                        >3º ano do ensino médio</option>                     
                    </select>
                </div>
            </div>     

            <div class="item">
                <div>Cara horária</div>
                <div>
                    <input type="number" name="hours" value="{{member.hours}}">
                </div>
            </div>  



            <button type="submit" action="#">Salvar</button>