{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center /cover"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>Guilherme Saraiva</div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>01/01/2000</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Ensino Superior Completo</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>Presencial</div>
            </div>
            <div class="item">
                <div>Área de Atuação</div>
                <div>
                    <span>Calistenia</span>
                    <span>Crossfit</span>
                </div>
            </div>


        </section>
    </div>

{% endblock %}